@font-face {
  font-family: 'airbnbcereal_regular';
  src: url('../fonts/airbnbcereal_w_bk-webfont.woff2') format('woff2'),
        url('../fonts/airbnbcereal_w_bk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'airbnbcereal_bulk';
  src: url('../fonts/airbnbcereal_w_blk-webfont.woff2') format('woff2'),
        url('../fonts/airbnbcereal_w_blk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  --byzantine-blue: 220, 93%, 43%;
  --night: 0, 0%, 4%;
  --night-2: 0, 0%, 9%;
  --eerie-black-font: 0, 0%, 65%;
  --eerie-black-background: 0, 0%, 15%;
  --eerie-black-hover: 0, 0%, 30%;
  --dirty-white: 0, 0%, 93%;
  --barn-red: 0, 100%, 24%;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  font-family: "airbnbcereal_regular", Arial, Helvetica, sans-serif;
  background-color: hsl(var(--eerie-black-background));
}

/* wrapper */

.wrapper{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 1fr 12fr;
  background-image: url("../assets/images/bitmap.png");
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-position-x: 70%;
  background-size: 1700px;
}

/* Header */

.header{
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: flex-end;
  gap: 5px;
  background: hsla(var(--night), .99);
  color: hsl(var(--dirty-white));
  padding: 12px 18px;
  backdrop-filter: blur(6px) saturate(520%) brightness(10.1);
  -webkit-backdrop-filter: blur(6px) saturate(520%) brightness(10.1);
}

.headerLogo svg{
  width: 20px;
  height: 20px;
  fill: hsl(var(--dirty-white));
  margin-bottom: 12px;
}

.headerTitle{
  font-weight: bolder;
  font-size: 170%;
}

/* Button */

.appSidebarGroupsItems_item_button{
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  display: flex;
  color: inherit;
  align-items: center;
  gap: 6px;
  font-size: 100%;
}

.ButtonInlineText {
  cursor: inherit;
}

/* NavBar */
.navbar{
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: hsla(var(--night), .99);
  color: hsl(var(--eerie-black-font));
  font-size: 106%;
  border-right: 1px solid hsl(var(--night));
  backdrop-filter: blur(6px) saturate(520%) brightness(10.1);
  -webkit-backdrop-filter: blur(6px) saturate(520%) brightness(10.1);
  margin: 0;
  padding: 0;
  border: none;
} 

.appSidebarUl, .appSidebarNav_Items{
  padding: 0;
  list-style-type: none;  
}

.appSidebarGroupsItems_item_button, .appSidebarHeadingItem{
  width: 100%;
  height: 100%;
  padding: 12px 18px 10px;
  cursor: pointer;
  transition: all .1s ease;
}

:is(.appSidebarGroupsItems_item_button, .appSidebarHeadingItem):hover{
  background-color: hsl(var(--eerie-black-hover));
}

.appSidebarNav_Items .appSideBarNav_Item:first-child{
  margin-bottom: 24px;
}

.appSidebarGroupsItems_item_button svg{
  fill: hsl(var(--eerie-black-font));
  width: 22px;
  height: 22px;
  transition: all .2s ease;
}

.appSidebarGroupsItems_item:hover svg{
  fill: hsl(var(--barn-red));
}

.AppSidebarGroupsItems__item__link{
  text-decoration: none;
}

.AppSidebarGroupsItems__item__link:link, .AppSidebarGroupsItems__item__link:visited{
  color: none;
}

.appSidebarHeadingItem_children{
  display: flex;
  justify-content: space-between;  
  align-items: flex-end;
}

.appSidebarHeadingItem_title{
  display: flex;
  font-weight: 900;
  font-size: 140%;
  align-items: center;
  gap: 6px;
  color: hsl(var(--dirty-white));
}

.appSidebarHeadingItem_after{
  fill: hsl(var(--eerie-black-font));
}

.ButtonInlineText{
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
}

.ButtonInlineText svg{
  fill: hsl(var(--eerie-black-font));
  width: 28px;
  height: 28px;
}

/* Notes */

.tasksCards{
  grid-row: 1/3;
  padding: 32px;
  color: hsl(var(--dirty-white));
}

.tasksCardsWrapper{
  display: flex;
  gap: 22px;
}

.tasksContainer{
  width: clamp(350px, 30%, 40%);
  background-color: hsl(var(--night-2));
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
}

.tasksContainerHeader{
  width: 100%;
  text-align: center;
  font-size: 120%;
  font-weight: 600;
}

.tasksContainerHeader h3{
  background-color: hsl(var(--night-2));
  padding: 8px 20px;
  margin-bottom: 12px;
  border-radius: 26px;
  width: calc-size(min-content, size + 100px);
}

.tasksListUl{
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-height: 70vh;
  overflow: auto;
}

/* task element */

.tasksListUl > .taskElement:last-child{
  margin-bottom: 0px;
}

.taskElement{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 22px;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.taskElement:hover{
  background-color: hsl(var(--eerie-black-background));
}

.taskElementCheckBtn, .taskElementArchiveBtn{
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  background-color: transparent;
}

.taskElementCheckBtn{
  margin-bottom: 2px;
  border-radius: 50%;
  border: 1px solid hsl(var(--eerie-black-font));
  width: 18px;
  height: 18px;
  margin-right: 12px;
  cursor: pointer;
}

.taskElementCheckBtn:hover{
  border-color: hsl(var(--barn-red));
}

.actionBtnsContainer{
  margin-left: auto;
}

.taskElementArchiveBtn{
  margin-top: 6px;
  border: none;
  width: 20px;
  height: 20px;
}

.taskElementArchiveBtn svg{
  fill: hsl(var(--eerie-black-font));
  cursor: pointer;
  transition: all .1s ease;
}

.taskElementArchiveBtn svg:hover{
  fill: hsl(var(--barn-red));
}

/* Tasks Footer */

.tasksContainerFooter{
  margin-top: 16px;
  padding: 8px;
}

.addTaskForm{
  display: flex;
  align-items: center;
  position: relative;
}

.addTaskInput{
  width: 100%;
  border-radius: 4px;
  border: 2px solid transparent;
  padding: 6px 8px;
  transition: all .2s ease
}

.addTaskInput:focus{
  outline: none;
  border: 2px solid hsl(var(--barn-red));
}

.arrowIcon{
  fill: hsl(var(--eerie-black-font));
  transition: all .2s ease;
}

.addTaskInput:not(:placeholder-shown) + .addTaskButton > .arrowIcon{
  fill: hsl(var(--barn-red));
}

.addTaskButton{
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 6px;
  cursor: pointer;
}

/* Scrollbar */

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Vertical scrollbar width */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: hsl(var(--night-2));
  border-radius: 10px;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: hsl(var(--eerie-black-font));
  border-radius: 3px;
}

/* Task Editor */

.taskEditor{
  width: clamp(350px, 30%, 40%);
  height: 100%;
  background-color: hsl(var(--night-2));
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  display: block;
} 